rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ======== ATURAN LAMA ANDA =====================
    match /kamus/{document=**} {
      allow read;
      allow write: if request.auth.uid == "uJhx9rqu8QXrhBELW56nclJNRyk2";
    }

    match /statistik/{document=**} {
      allow read, create, update;
    }
    
    match /statistikPengunjung/{document=**} {
      allow read, create, update;
    }

    match /istilahBelumAda/{document=**} {
      allow read, create;
      allow delete: if request.auth.uid == "uJhx9rqu8QXrhBELW56nclJNRyk2";
    }

    // ======== ATURAN BARU UNTUK VIDGRAM ==========
    match /videos/{document=**} {
      allow read, create, update;
      allow delete: if request.auth.uid == "uJhx9rqu8QXrhBELW56nclJNRyk2";
    }

    match /image_posts/{document=**} {
      allow read, create, update;
      allow delete: if request.auth.uid == "uJhx9rqu8QXrhBELW56nclJNRyk2";
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null;
      
      match /subscriptions/{targetId} {
        allow read, write: if request.auth.uid == userId;
      }
    }
    
    // RULES BARU UNTUK KOMENTAR
    match /comments/{document=**} {
      allow read: if true; // Siapa saja bisa baca komentar
      allow create: if request.auth != null; // Cuma yang login bisa komentar
    }
  }
}
